<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Toy company</title>
    <link rel="stylesheet" th:href="@{/cascade/starter-template.css}" />
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/home}">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/toys}">Sprawdź nasza ofertę</a></li>
                <li class="active"><a th:href="@{/reservation}">Dokonaj rezerwacji</a></li>
                <li class="active"><a th:href="@{/contact}">Kontakt</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <h2>aaa</h2>
<div th:if="${param.error}">
    Zły login lub hasło.
</div>
<div th:if="${param.logout}">
    Zostałeś wylogowany.
</div>
<form th:action="@{/login/check}" method="post">
    <div class="form-group">
        <label>Podaj email</label>
        <input required type="text" name = "email"
               class="form-control input-small"
               placeholder="email">
    </div>
    <div class="form-group">
        <label>Podaj hasło</label>
        <input required type="password" name = "password"
               class="form-control input-small"
               placeholder="hasło">
    </div>
    <div><input type="submit" value="Sign In"/></div>
</form>
    <h1 th:text = "${message}" style = "font-size:500%;color:red"></h1>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>